<div class="activate">
    <div class="logo">
        <img src="~/img/logo.png"/>
    </div>
    <div class="message">
        @{
            if(ViewBag.Error != null)
            {
                <h1>@ViewBag.Error</h1>
            }
            else
            {
                <h1>Successfully activated account!</h1>
            }
        }
    </div>
    <div class="links">
        <a href="/account/login">Go to Sign In</a>
    </div>
</div>
@section Styles {
    <link href="~/css/activate.css" rel="stylesheet" />
}
