@model Domain.DtoModels.LoginUserDto;

<div class="login-page">
    @Html.Partial("_Aside")
    <div class='login-container'>
        <div class='form-container'>
            <span>Log in to your account</span>
            <form asp-controller="account" asp-action="Login" method="post">
                @{
                    if (ViewBag.ErrorMessage != null)
                    {
                        <span class='error'>@ViewBag.ErrorMessage</span>
                    }
                }
                <div class='input-container'>
                    <label>Email</label>
                    <input type="email" name="Email" />
                </div>
                <div class="validation-error">
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div class='input-container'>
                    <label>Password</label>
                    <input type="password" name="Password" />
                </div>
                <div class="validation-error">
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div>
                    <a href="/auth/forgotpassword">Forgot password?</a>
                </div>
                <button class="c-button" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

<link href="~/css/login.css" rel="stylesheet" />
