<div class="login-page">
    <div class='aside'>
        <div class='aside-information'>
            <a href="/">
                <img src='~/img/logo.png' />
            </a>
            <p>The best way to interact with all the participants on your event!</p>
            <div class='aside-footer'>
                <span>FB</span>
                <span>INST</span>
            </div>
        </div>
    </div>
    <div class='login-container'>
        <div class='form-container'>
            <span>Log in to your account</span>
            <form asp-controller="acctount" asp-action="Login" method="post">
                @{
                    if (ViewBag.ErrorMessage != null)
                    {
                        <span class='error'>@ViewBag.ErrorMessage</span>
                    }
                }
                <div class='input-container'>
                    <label>Email:</label>
                    <input type="email" name="Email" />
                </div>
                <div class='input-container'>
                    <label>Password:</label>
                    <input type="password" name="Password" />
                </div>
                <div>
                    <a href="/auth/forgotpassword">Forgot password?</a>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

<link href="~/css/login.css" rel="stylesheet" />
