<div class="activate">
    <div class="logo">
        <img src="~/img/logo.png" />
    </div>
    <div class="message">
        <h1>Successful registration! We've just sent you an activation email!</h1>
    </div>
</div>
@section Styles {
    <link href="~/css/activate.css" rel="stylesheet" />
}
