@Html.Partial("Navigation")
<div class="home">
    <div class="section-first">
        <h1>Interact with your participants easy!</h1>
        <p>Get in touch with your participants with live polls</p>
        <button class="c-button">
            <a href="/account/register">START FREE</a>
        </button>
    </div>
    <div class="section-second">
        <div class="image-wrapper">
            <img src="~/img/promo1.png"/>
        </div>
        <div>
            <p>Track your participants interest live. Manage your polls easily with friendly UI.</p>
        </div>
    </div>
    <div class="section-third">

    </div>
</div>
@Html.Partial("Footer")
@section Styles {
    <link href="~/css/navigation.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet">
}