<header>
    <nav>
        <div class="image-wrapper">
            <a href="/">
                <img src="~/img/logo.png"/>
            </a>
        </div>
        <div class="nav-buttons">
            <a>Product</a>
            <a href="~/account/login">Log In</a>
            <a href="~/account/register" class="c-button">Sign Up</a>
        </div>
        <div class="hamburger-container">
            <span class="hamburger"></span>
        </div>
    </nav>
    <div class="mobile-nav">
        <div class="mobile-nav-content">
            <span class="exit-button"></span>
            <div class="mobile-nav-buttons">
                <div class="mobile-button">
                    <a>Product</a>
                </div>
                <div class="mobile-button">
                    <a href="~/account/login">Log In</a>
                </div>
                <div class="mobile-button">
                    <a href="~/account/register" class="c-button">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</header>
