<header>
    <nav>
        <div class="image-wrapper">
            <a href="/">
                <img src="~/img/logo.png"/>
            </a>
        </div>
        <a>Product</a>
        <div class="auth-buttons">
            <a href="~/account/login">Log In</a>
            <a href="~/account/register" class="sign-up">Sign Up</a>
        </div>
    </nav>
</header>

<link href="~/css/navigation.css" rel="stylesheet">