.login-page {
    display: flex;
    height: 100%;
    width: 100%;

    .login-container {
        width: 70%;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;

        .form-container {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            > span {
                font-size: 26px;
            }

            align-items: center;
            width: 25rem;
            height: 25rem;
            background-color: whitesmoke;
            box-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, .1);
            border-radius: 0.2rem;

            form {
                text-align: end;

                > .validation-error {
                    padding: 0.5rem;
                    color: red;
                }

                .input-container {
                    display: flex;
                    align-items: baseline;

                    input {
                        border: none;
                        outline: none;
                        border-bottom: 2px solid purple;
                        height: 1.5rem;
                    }

                    label {
                        width: 5rem;
                        text-align: start;
                    }
                }
            }
        }
    }

    @media (max-width: 700px) {
        flex-direction: column;

        .aside {
            width: 100%;
        }

        .login-container {
            width: 100%;

            .form-container {
                width: 100%;
            }
        }
    }
}
