<div class='aside'>
    <div class='aside-information'>
        <a href="/">
            <img src='~/img/logo.png' />
        </a>
        <p>The best way to interact with all the participants on your event!</p>
        <div class='aside-footer'>
            <span>FB</span>
            <span>INST</span>
        </div>
    </div>
</div>